.themewrapper {
  display: flex;
  align-items: center;
  z-index: 100;
  position: fixed;
  right: 25px;
  top: 30px;
}

.themewrapper span {
  margin-right: 10px;
  font-size: 1rem;
}

.toggletext {
  position: relative;
  top: -4px;
  right: 5px;
  color: #1c1c1c;
}

.themeswitch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.themeswitch input {
  display: none;
}

.slider {
  background: var(--slider-background);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider::before {
  background: var(--slider-color);
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background: var(--on-background);
}

input:checked + .slider::before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}
